/* NAV BAR */
.navbar{
  height: 50px;
  background-color: #A1CCD1; /*Nav bar colour*/
  display: flex;
  justify-content: center;
  position: fixed; /* Set the navbar to fixed position */
  overflow: hidden;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Ascenda Logo Image */
img {
  display: block;
  margin-right: auto;
  width: 10%;
}

/* Register and login Buttons */
.navButton{
  background-color: #F4F2DE; /* Button colour */
  margin-left: 20px;
  border: 2px solid #F4F2DE;
  color: #003580; /*button text colour*/
  padding: 5px 10px;
  border-radius: 15px;
}
.navButton:hover{
  border: 2px solid #003580; /*hover button*/
}