.footer{
    display: flex;
    flex-direction: column;
    background-color: #dbd8ce;
    padding: 2.5rem;
}

.footer-content{
    text-align: left;
    margin: 0 16.5rem;
    max-width: 50vw;
    cursor: pointer;
}

.footer-text{
    font-size: small;
    text-decoration: underline;
}

.footer-text:hover{
    font-weight: 500;
}

@media only screen and (max-width: 600px){
    .footer-content{
        margin: 0;
        padding: 0.5rem;
    }
}