*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    position: fixed;
    z-index: 100;
    font-size: 0.9rem;
    overflow:visible;
}
.navbar{
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: .3s ease-in;
    color: white;
}

.navbar-scroll{
    position: relative;
    background: white;
    color: black;
    transition: .3s ease-in;
}

.navbar-top{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
    overflow: hidden;
}

.navbar-links{
    padding: 0;
    margin:0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-logo{
    max-width: 150px;
}

.navbar-hamburger{
    display: none;
}


@media only screen and (max-width: 500px){
    .navbar-links{
        display:none;
    }

    .reserve-button{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
    }
    
    .navbar-hamburger{
        display: block;
    }
}


.navbar-bottom{
    display: flex;
    margin-left:3%;
    margin-right: 3%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.navbar-bottom.links{
    gap: 2rem;
    width:20%;
}

.room-pax-container{
    width: 50%;
    height: 5rem;
}

.date-picker{
    width: 20%;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #ddd;
    background-color: orange !important; 
    display: flex;
    align-items: center;
    float: left;
    text-align: center;
    margin: 15px 10px;
  }


.hotel-name{
    font-size: 1rem;
    font-weight: bold;
}

@media only screen and (max-width: 700px){
    .hotel-name{
        font-size: 0.75rem;
    }
    .navbar-bottom.links{
        gap: 0.75rem;
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 400px){
    .hotel-name{
        font-size: 0.6rem;
    }
    .navbar-bottom.links{
        font-size: 0.6rem;
        gap: 0.5rem;
    }
}

.stay-duration-container{
    width: 50%;
    /* height: 5rem; */
}
