/* Builder.css */


.carousel{
    background-color: blue;
    position: relative;
    top: -4rem;
    display: flex;
    justify-content: space-between;

    padding-left: 1rem;
    padding-right: 1rem;
}