.venue_view{
    display: grid;

    grid-template-columns: 1fr 2fr;
    width: 90%;
    height: 100%;
    background-color: black;
    color:white
}

.venue_view img{
  
    width: 80%;
    height: 100%;
}

.venue_view div{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.venue_view div:first-of-type{
    padding-top: 20%;
    padding-left: 25%;
    align-items: flex-start;
}

.venue_view div h1{
    font-size: 300%;
    margin: 2%;
    margin-left: 0;
}

.venue_view div p{
    font-weight: 100;
    font-size: 120%;
    
}