.home-container {
    background-color: #D7C3A3;
  }
 
.reviews-cont {
    background-color: #f2e2c9;
    height: 350px;
  }

.services {
    background-color: #f2e2c9;
    max-width: 100%;
  }


  .hotel-title{
    text-shadow: 0 0 35px rgb(124, 76, 46);
  }

  .reviews-title{

    text-shadow: 0 0 35px rgb(124, 76, 46);

  }