.bgImage{
    background-image: url("https://i.pinimg.com/564x/ca/8b/45/ca8b452842f644e772f8e776e8f1e162.jpg") repeat-x;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size:cover;
    height:150vh;
    width:100%;
    overflow:visible;
    filter: blur(10px);
    /* -webkit-filter: blur(10px) */
}

.profileContainer{
    border-radius: 20pt;
    margin-top:170px;
    /* margin: bottom 10px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background-color: #f2e2c9;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    position: absolute;
    top: 60%;
    width:80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom:70px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    gap: 40px;
}

/* Edit Profile (TITLE) */
.profileTitle{
    width: 1024px;
    font-size: 30px;
    font: bold;
    text-align:left;
}

.sectionContainer{
    width: 100%;
    /* margin: auto; */
    display:inline-flex;
    align-items:center;
    /* border: 5px solid; */
}

/* Name,email,ect */
.profileText{
    font-size: 20px;
    font: bold;
    width: auto;
    padding-left:20px;
    padding-right:40px;
}

/* Edit Button */
.editButton {
    border: none;
    padding: 16px;
    font-size: 20px;
    /* background-color: orange; */
    /* rgb(255, 186, 47); */
    width: 20%;
    align-self: center;
    color: black;
    border-radius: 6px;
    border: none;
    /* border: 1px solid black; */
    cursor:pointer;
  }
.editButton:hover {
    background: orange;
}

/* User Input (name,email,ect.) */
.userInputContainer{
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding-right: 70px;
    margin-right:auto;
}    

/* Profile Details Text */
.userInfoText{
    font-size: 18px;
    /* margin-left:60px; */
    align-items:flex-end;
}

/* Booking history */
.bookingContainer{
    outline-style: dotted;
    padding:100px;

}