.profileContainer{
    border-radius: 20pt;
    margin-top:50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background-color: #f2e2c9;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    position: absolute;
    top: 70vh;
    left: 50%;
    transform: translate(-50%, -70%);
    padding-bottom:60px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    gap: 40px;
}
.editprofileContainer{
    border-radius: 20pt;
    margin-top:50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background-color: #f2e2c9;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    position: absolute;
    top: 60vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom:60px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    gap: 40px;
}

.background-image{
    background-color:#f2e2c9 ;
    /* background-image */
}

/* Edit Profile (TITLE) */
.profileTitle{
    width: 1024px;
    font-size: 30px;
    font: bold;
    text-align:left;
}

.sectionContainer{
    width: 100%;
    /* margin: auto; */
    display:inline-flex;
    align-items:center;
    border:none;
}

/* Name,email,ect */
.profileText{
    font-size: 20px;
    font: bold;
    width: auto;
    padding-left:20px;
    padding-right:40px;
}

/* Edit Button */
.editButton {
    border: none;
    padding: 8px;
    font-size: 16px;
    /* background-color: orange; */
    /* rgb(255, 186, 47); */
    width: 100%;
    align-self: center;
    color: black;
    border-radius: 6px;
    border: none;
    /* border: 1px solid black; */
    cursor:pointer;
  }
.editButton:hover {
    background: orange;
}

/* User Input (name,email,ect.) */
.userInputContainer{
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding-right: 70px;
    margin-right:auto;
}  

/* Profile Details Text */
.userInfoText{
    font-size: 18px;
    /* margin-left:60px; */
    align-items:flex-end;
}

/* Booking history */
.bookingContainer{
    outline-style: dotted;
    padding:100px;

}