.hotel-container {
  border: 0px solid gray;
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
  margin: 10px;
  z-index: 900;
}


.hotel-image {
  margin-left: 10px;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  object-fit: cover;
}

.hotel-features{
  font-size: 17px;
  padding-top: 5px;
  font-weight: 350;
  color: gray;
}

.siDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
}

.hotel-title {
  font-size: 23px;
  color: black;
  font-weight: 400;
  padding-bottom: 10px;
}

.hotel-distance {
  font-size: 15px;
  font-style: italic;
  padding-top: 2%;
  padding-bottom: 10%;
  color: gray;
}

.siSubtitle{
  font-size: 12px;
  font-weight: bold;
}

.siCancelOp{
  font-size: 12px;
  color: #008009;
  font-weight: bold;
}

.siCancelOpSubtitle{
  font-size: 12px;
  color: #008009;
}

.hotel-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.siRating{
  display: flex;
  justify-content: space-between
}

.siRating>span{
  font-weight: 500;
}
.siRating>button{
 background-color: #003580;
 color: white;
 font-size: 15px;
 padding: 10px;
 font-weight: bold;
 border: none;
}

.siDetailTexts{
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.siPrice{
  font-size: 24px;
}

.siTaxOp{
  font-size: 12px;
  color: gray;
}

.book-button{
  background: orangered;
  color: black;
  font-weight: bold;
  font-size: 23px;
  font-weight: 500;
  padding: 10px 10px;
  padding-top: 20%;
  border: black;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  z-index: 950;
}