.results-page {
  /* background-color: #e4d2b9; */
  padding-top: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center child elements horizontally */
  align-items: center;
  gap: 20px;
  margin-bottom: 20%;
}


.num-results {
  font-size: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-right: 70%;
}

.is-loading {
  padding-top: 20%;
  font-size: 18px;
  color: black;
  font-weight: 400;
  padding-bottom: 10px;
}

.try-again-button {
  font-size: 18px;
  color: blue;  
  text-decoration: underline;
  font-weight: 400;
}

.hotel-container {
  border: 0px solid gray;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  gap: 7%;
  height: 200px;
  max-width: 1200px;
  z-index: 900;
  width: 100%;
}

.hotel-image-container {
  flex: 0 0 29%; /* Set the width to 20% of the container */
  height: 100%; /* Set the height to occupy the full height of the container */
  overflow: hidden; /* Crop the image to fit within the container */
  margin-right: 20px;
}

.hotel-image {
  width: 100%; /* Make sure the image fills the container */
  height: 100%; /* Make sure the image fills the container */
  object-fit: cover; /* Crop and fit the image within the container */
}

.hotel-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hotel-features{
  font-size: 14px;
  padding-top: 0px;
  font-weight: 300;
  color: black;
  align-content: center;
}

.hotel-title {
  font-size: 18px;
  color: black;
  font-weight: 400;
  padding-bottom: 10px;
}

.hotel-distance {
  font-size: 12px;
  padding-top: 2%;
  color: brown;
}

.rating-num {
  font-size: 25px;
  color: brown;
  font-weight: 400;
  margin-right: 250px;
}

.ratings-bar {
  width: 100px; /* Set the width of the ratings bar */
  height: 16px; /* Set the height of the ratings bar */
  background-color: rgb(230, 165, 137); /* Set the background color of the empty bar */
  border-radius: 10px; /* Rounded corners for the bar */
  overflow: hidden; /* Hide any overflowing content (in case of fractional ratings) */
  width: 200px;
}

.ratings-bar-filled {
  height: 100%; /* Set the height to 100% to fill the empty bar */
  background-color: rgba(195, 64, 17, 0.909); /* Set the background color of the filled bar */
  border-radius: 10px; /* Rounded corners for the filled bar */
}

.no-rating-message {
  font-size: 15px;
  font-weight: 500;
  color: gray;
  margin-top: 22px;
}


.price-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid #e4d2b9; /* Add a left border to separate columns */
  padding-left: 20px;
}

.sg-d {
  padding-top: 30px;
  font-size: 16px;
  color: brown;
  font-weight: 400;
}

.hotel-price {
  font-size: 30px;
  color: brown;
  font-weight: 600;
}

.onwards {
  font-size: 13px;
  color: brown;
  font-weight: 300;
}

.book-button{
  margin-top: 10px;
  background: rgb(218, 96, 26);
  font-weight: bold;
  color: black;
  font-size: 18px;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
}