

/* Wrapper styles */
.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #D7C3A3;
  font-family: 'Lato', sans-serif;
}

/* Label styles */
label {
  font-size: 18px;
  margin-bottom: 20px;
  color: rgb(40, 16, 6);
}

/* Button styles */
.confirm-button {
padding: 15px;
min-width: 500px;
}


button {
  padding: 60px; 
  max-width: fit-content;
  font-size: 18px;
  color: rgb(40, 16, 6); /* Set the text color */
  border: none;
  border-radius: 15px; /* Border-radius creates rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #f2e2c9;
}
